
.semiTitle{
  font-size: 2em;
}

.dropdown-menu ul {
  padding: 0;
}

.dropdown-menu a {
  padding: 10px;
}

.dropdown-menu label {
  display: block;
  cursor: pointer;
}

/* Transition  */

.menu-content {
  max-height: 0;
  overflow: hidden;
}

input:checked ~ .menu-content {
  max-height: 1000px;
  transition: all ease 1s;
}

input:checked ~ label {
  background-color: #1b75bc;
}
