.dropdownMenu {
  font-family: 'OpenSans-Light', sans-serif;

  .myBtn {
    font-size: 1.4em;
    cursor: pointer;
    color: #262626;
  }

  .semiTitle {

  }

  .lContent {

    &.hidden
    ul {
      list-style-type: none;
      max-height: 0;
      transition: max-height .5s;
    }

    ul {
      list-style-type: none;
      transition: max-height .5s;
      max-height: 371px;
      overflow: hidden;
    }


  }

}

