.dropdownMenu {
  font-family: 'OpenSans-Light', sans-serif;

  .dropdownButton {
    font-size: 1.4em;
    cursor: pointer;
    color: #262626;
  }

  .listOfCities {

    ul {
      padding-left: 0;
      list-style-type: none;
      transition: max-height .5s;
      max-height:2299px;
      overflow: hidden;

      ul {
        padding-left: 1rem;
      }
    }
  }

  & .listOfCitiesHidden {

    ul {
      max-height: 0;
      transition: max-height .5s;

      ul {
      }
    }

  }
}





