<div class="dropdownMenu">
  <div class="semiTitle">
    <a class="dropdownButton" (click)="hideList = !hideList">Miejsce pracy
      <i class="fa fa-chevron-up" *ngIf="hideList"></i>
      <i class="fa fa-chevron-down" *ngIf="!hideList"></i>
    </a>
  </div>
  <div class="listOfCountryStatesAndCities"
       [ngClass]="{'listOfCountryStatesAndCitiesHidden' : hideList }">

    <ul>
      <ul *ngFor="let state of stateAndCity">
        <li><input type="checkbox" class="checkboxInputState"
                   [(ngModel)]="state.checked">
          {{state.state}}

          <ul *ngFor="let city of state.cities">
            <li><input type="checkbox" class="checkboxInputCity"
                       [checked]="state.checked">
              {{city}}

            </li>
          </ul>
      </ul>
    </ul>
  </div>
</div>


