<div class="dropdownMenu">
  <div class="semiTitle">
    <a class="dropdownButton" (click)="hideList = !hideList">Miejsce pracy
      <i class="fa fa-chevron-up" *ngIf="hideList"></i>
      <i class="fa fa-chevron-down" *ngIf="!hideList"></i>
    </a>
  </div>
  <div class="listOfCities" [ngClass]="{'listOfCitiesHidden' : hideList }">
    <ul>
      <li>
        <input type="checkbox" class="checkboxInput" [(ngModel)]="country">
        cała Polska
      </li>
      <ul *ngFor="let state of stateAndCity">
        <li><input type="checkbox" class="checkboxInput">{{state.state}}

          <ul *ngFor="let city of state.cities">
            <li><input type="checkbox" class="checkboxInput">{{city}}
            </li>
          </ul>
      </ul>
    </ul>
  </div>
</div>


<!--(click)="metoda123()" [ngClass]="{'first': first, 'second': second}"-->
