.content {
  background-color: white;

  .container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    //background-color: white;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 65px;
        height: 65px;
      }
    }

    .description {
      width: 100%;
      margin-left: 1em;
      display: flex;
      flex-direction: column;

      .offerTitleRow {
        display: flex;
        flex-direction: row;
        align-items: center;

        .offerTitle {
          width: 100%;
          font-size: 1.2em;
          color: #0a449b;

          .favouriteIcon {
            justify-self: flex-end;
          }
        }
      }

      .offerEmployer {
        font-weight: 300;
        font-size: .9em;
        margin-right: .5em;
        cursor: pointer;

      }

      .moreOfferInfo {
        color: #8c8c8c;
        font-size: small;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: .3em;


        .location {
          width: 100%;
          font-size: small;
        }

        .whenAdded {
          display: flex;
          justify-self: end;
        }
      }
    }

  }
}
