<div class="background">
  <h1 class="description">Praca: 41 532 oferty pracy</h1>
  <div class="search" [ngClass]="{'first': first, 'second': second}">
    <form class="form">
      <input class="typeWord" type="text" placeholder="słowo kluczowe, stanowisko, firma"/>
      <div class="searchColumn">
        <input class="typeLocation" type="text" placeholder="miejscowość lub województwo"/>
        <div class="rangeSliderContainer">
          Określ odległość
          <mat-slider></mat-slider>
        </div>
      </div>

      <a class="myButton" (click)="metoda()">
        <i class="fa fa-search"></i>Szukaj
      </a>

    </form>
  </div>

</div>



<!--<some-element [ngClass]="['first', 'second']">...</some-element>-->


<!--https://angular.io/api/common/NgClass-->
