
.background {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description {
  display: flex;
  font-family: 'OpenSans', sans-serif;
  color: black;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.search{
margin-bottom: 2em;
}

.form {
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between ;
}

.typeWord {
  padding: 1.1em .8em 1.1em;
  margin: 0 auto;
}
.typeLocalisation {
  padding: 1.1em .8em 1.1em;
  margin: 0 auto;
}
