
.background {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
.description {
  font-family: 'OpenSans-Semibold',Arial,Helvetica,sans-serif;
  color: #d31f62;
}
