<div class="background">
  <div class="container">
    <h1 class="description">Popular component</h1>
    <div class="popularCategories">
      <div class="item">item
        <a class="itemLink">Link</a>
      </div>
      <div class="item">item
        <a class="itemLink">Link</a>
      </div>
      <div class="item">item
        <a class="itemLink">Link</a>
      </div>
      <div class="item">item
        <a class="itemLink">Link</a>
      </div>
      <div class="item">item
        <a class="itemLink">Link</a>
      </div>
      <div class="item">item
        <a class="itemLink">Link</a>
      </div>
      <div class="item">item
        <a class="itemLink">Link</a>
      </div>
      <div class="item">item
        <a class="itemLink">Link</a>
      </div>
    </div>
  </div>

</div>
