<div class="background">
  <div class="container">
    <div class="description">Popularne w serwisie</div>
    <div class="popularCategories">
      <div class="popularFirstRow">
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
      </div>
      <div class="popularSecondRow">
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
        <div class="item">item
          <a class="itemLink">Link</a>
        </div>
      </div>
    </div>
  </div>

</div>
