<app-header>ggg</app-header>
<!--<button mat-stroked-button>Basic</button>-->
<!--<button mat-stroked-button color="primary">Primary</button>-->
<!--<button mat-stroked-button color="accent">Accent</button>-->
<!--<button mat-stroked-button color="warn">Warn</button>-->
<!--<button mat-stroked-button disabled>Disabled</button>-->
<!--<a mat-stroked-button routerLink=".">Link</a>-->
<!--<router-outlet></router-outlet>-->


<mat-toolbar>
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<h1> {{title}}</h1>
<app-offers></app-offers>

