<div class="background">
  <div class="work">
    <p class="workDescription">Praca</p>
    <div class="workComponent">
      <app-search></app-search>
    </div>
  </div>
  <div class="popular">
    <div class="popularComponent">
      <app-popular></app-popular>
    </div>
  </div>
  <div class="filterRecomendedPanel">
    <div class="filterRecomendedPanelContainer">
      <div class="filter">
        <h2 class="filterDescription">Filtruj wyniki</h2>
        <div class="filterComponent">
          <app-filter></app-filter>
        </div>
      </div>
      <div class="recomended">
        <p class="recomendedDescription">Oferty rekomendowane dla Ciebie</p>
        <div class="recomendedComponent">
          <app-recomended></app-recomended>
        </div>
      </div>
    </div>
  </div>
</div>

