<div class="background">
  <div class="sdds">

    <div class="work">
      <p class="workDescription">Praca</p>
      <div class="workComponent">
        <app-search></app-search>
      </div>
    </div>

    <div class="popular">
      <p class="popularDescription">Popularne</p>
      <div class="popularComponent">
        <app-popular></app-popular>
      </div>
    </div>

    <div class="filterRecomendedPanel">
      <div class="filter">
        <p class="filterDescription">Filtruj</p>
        <div class="filterComponent">
          <app-filter></app-filter>
        </div>
      </div>
      <div class="recomended">
        <p class="recomendedDescription">Oferty rekomendowane dla Ciebie</p>
        <div class="recomendedComponent">
          <app-recomended></app-recomended>
        </div>
      </div>
    </div>
  </div>
</div>

